.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.sphinx/
docs/_build/
.dist/
.build/
dist/
build/
*.egg-info/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
